.apply-leave-outer-wrapper {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.apply-leave-content-wrapper {
  position: relative;
  width: 80%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.apply-leave-inner-wrapper {
  font-weight: bold;
  padding: 10px;
}
.apply-leave-header {
  padding: 20px;
  box-shadow: 0px 3px 6px #2c28281c;
}
.apply-leave-body-container {
  margin: 2%;
}
.mandatory-field {
  margin-left: 1px;
  color: red;
}
.date-wrapper {
  padding: 20px 0 20px 10px;
  display: flex;
  flex-direction: row;
  span {
    padding: 0 10px 0 0;
  }
}
.button-wrapper {
  text-align: center;
  .submit-button {
    position: fixed;
    left: 30%;
  }
  button {
    background-color: #1b27a5; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
}
